html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#randomImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 9:16 */
}

#startBtn {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 26px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background: rgba(0,0,0,0.65);
  color: white;
}

